version: '3'
services:
  db:
    image: mariadb
    command: --max-allowed-packet=64MB
    restart: always
    volumes:
      - ./data/db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

  php:
    container_name: php
    image: php:7.3-fpm-buster
    volumes:
      - ./data/matomo:/var/www/html
    expose:
      - "9000"
    restart: always

  web:
    build: ./nginx
    restart: always
    volumes:
      - ./data/matomo:/var/www/html:ro
      - ./root/certs:/root/certs
    ports:
      - 80:80
      - 443:443