version: '3'
services:
  db:
    image: mariadb
    command: --max-allowed-packet=64MB
    restart: always
    volumes:
      - ./data/db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD

  php:
    container_name: php
    build: ./php
    volumes:
      - ./data/matomo:/var/www/html
    expose:
      - "9000"
    restart: always

  web:
    build: ./nginx
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/php-fpm.conf:/etc/nginx/snippets/php-fpm.conf
      - ./nginx/snakeoil.conf:/etc/nginx/snippets/snakeoil.conf
      - ./nginx/sites-enabled:/etc/nginx/sites-enabled
      - ./data/matomo:/var/www/html:ro
      - /root/certs:/root/certs
    ports:
      - 80:80
      - 443:443